* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 75px auto;
  width: 90%;
}
.center {
  text-align: center;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 36px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45, 46, 47, 1);
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexSpaceBetween {
  display: flex;
  /* justify-content: space-between; */
}

.flexSpaceBetween img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}