.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.or-divider {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.divider {
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #ccc;
}

.or {
    margin: 0 10px;
    color: #999;
    font-weight: bold;
}
.login-card{
    background-color: rgb(198, 191, 178);
margin-top: 40px;
}